.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  gap: 30px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.watches {
  display: flex;
  gap: 20px;
  padding-top: 40px;
}

.watch {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.watch button {
  width: 20px;
  height: 20px;
  border: 1px solid #444;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  right: 0;
}

.circle {
  width: 60px;
  height: 60px;
  position: relative;
}

.circle div {
  position: absolute;
  transform: rotate(calc(var(--deg) * 1deg));
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle div div {
  height: 30px;
  transform: translate(0%, -50%);
}

.seconds div {
  width: 1px;
  background-color: #777;
}

.minuts div {
  width: 2px;
  background-color: #333;
}

.hours div {
  width: 4px;
  background-color: #000;
}